<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="title">Charts</ui:define>
    <ui:define name="viewname">
        <li>Components</li>
        <li>/</li>
        <li><p:link outcome="/charts">Charts</p:link></li>
    </ui:define>

    <ui:define name="head">
        <script type="text/javascript">
        function skinChart() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#61b5a1', '#A882C9', '#7BCDD8', '#E6C665'];
            this.cfg.grid = {
                drawBorder: false,
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#eaeaea',
                shadow: false
            };
            this.cfg.axesDefaults = {
                borderWidth: 0.1,
                borderColor: 'eaeaea',
                rendererOptions: {
                    textColor: '#a6a6a6'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 1,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinBar() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#61b5a1', '#E6C665'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#61b5a1',
                gridLineColor: '#eaeaea',
                shadow: false
            };
            this.cfg.axesDefaults = {
                drawBorder: false,
                borderWidth: 0.1,
                borderColor: 'eaeaea',
                rendererOptions: {
                    textColor: '#a6a6a6'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 1,
                renderer: $.jqplot.BarRenderer,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinArea() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#61b5a1', '#E6C665'];
            this.cfg.grid = {
                drawBorder: false,
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#eaeaea',
                shadow: false
            };
            this.cfg.axesDefaults = {
                drawBorder: false,
                borderWidth: 0.1,
                borderColor: 'eaeaea',
                rendererOptions: {
                    textColor: '#a6a6a6'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 1,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinBubble() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#61b5a1', '#E6C665'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#eaeaea',
                shadow: false
            };
            this.cfg.axesDefaults = {
                rendererOptions: {
                    textColor: '#a6a6a6'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 1,
                renderer: $.jqplot.BubbleRenderer,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinZoom() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#61b5a1', '#E6C665'];
            this.cfg.grid = {
                drawBorder: false,
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#eaeaea',
                shadow: false
            };
            this.cfg.axesDefaults = {
                rendererOptions: {
                    textColor: '#a6a6a6'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 1,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinPie() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#61b5a1', '#A882C9', '#7BCDD8', '#E6C665'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#eaeaea',
                shadow: false
            };
            this.cfg.axesDefaults = {
                rendererOptions: {
                    textColor: '#a6a6a6',
                }
            };
            this.cfg.seriesDefaults = {
                renderer: $.jqplot.PieRenderer,
                shadow: false,
                lineWidth: 1,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinDonut() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#61b5a1', '#A882C9', '#7BCDD8', '#E6C665'];
            this.cfg.grid = {
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#eaeaea',
                shadow: false
            };
            this.cfg.axesDefaults = {
                rendererOptions: {
                    textColor: '#a6a6a6',
                }
            };
            this.cfg.seriesDefaults = {
                renderer: $.jqplot.DonutRenderer,
                shadow: false,
                lineWidth: 1,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinBarAndLine() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#61b5a1', '#E6C665'];
            this.cfg.grid = {
                drawBorder: false,
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#d8dae2',
                shadow: false
            };
            this.cfg.axesDefaults = {
                borderWidth: 0.1,
                borderColor: 'eaeaea',
                rendererOptions: {
                    textColor: '#a6a6a6'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 5,
                renderer: $.jqplot.BarRenderer,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }

        function skinMeterGauge() {
            this.cfg.title = '';
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth: 5,
                renderer: $.jqplot.MeterGaugeRenderer,
                rendererOptions: {
                    shadow: false,
                    min: 100,
                    max: 800,
                    intervals: [200, 300, 400, 500, 600, 700, 800],
                    intervalColors: ['#61b5a1', '#A882C9', '#7BCDD8', '#E6C665', '#C1CC51', '#8287C9', '#F68C6A']
                }
            }
        }

        function skinMultiAxis() {
            this.cfg.shadow = false;
            this.cfg.title = '';
            this.cfg.seriesColors = ['#61b5a1', '#A882C9'];
            this.cfg.grid = {
                drawBorder: false,
                background: '#ffffff',
                borderColor: '#ffffff',
                gridLineColor: '#eaeaea',
                shadow: false
            };
            this.cfg.axesDefaults = {
                borderWidth: 0.1,
                borderColor: 'eaeaea',
                rendererOptions: {
                    textColor: '#a6a6a6'
                }
            };
            this.cfg.seriesDefaults = {
                shadow: false,
                lineWidth:1,
                renderer: $.jqplot.BarRenderer,
                markerOptions: {
                    shadow: false,
                    size: 7,
                    style: 'circle'
                }
            }
        }
        </script>
        <style type="text/css">
            .jqplot-xaxis-label, .jqplot-yaxis-label, .jqplot-y2axis-label, .jqplot-x2axis-label {
                color: #757575; 
            }
            
            table.jqplot-table-legend {
                background-color: #ffffff;
                color: #666666;
                border-color: #eaeaea;
            }
        </style>
    </ui:define>

    <ui:define name="content">
    
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6">
                <div class="card">
                    <h1 class="centerText">Linear Chart</h1>
                    <p:chart id="line" type="line" model="#{chartDemoView.lineModel1}" responsive="true"/>
                </div>
                
                <div class="card">
                    <h1 class="centerText">Bar Chart</h1>
                    <p:chart id="bar" type="bar" model="#{chartDemoView.barModel}" responsive="true"/>
                </div>
                
                <div class="card">
                    <h1 class="centerText">Area Chart</h1>
                    <p:chart id="area" type="line" model="#{chartDemoView.areaModel}" responsive="true" />
                </div>
                
                <div class="card">
                    <h1 class="centerText">Bubble Chart</h1>
                    <p:chart id="bubble" type="bubble" model="#{chartDemoView.bubbleModel1}" responsive="true"/>
                </div>
                
                <div class="card">
                    <h1 class="centerText">Zoom Chart</h1>
                    <p:chart id="date" type="line" model="#{chartDemoView.dateModel}" responsive="true"/>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-6">
                <div class="card">
                    <h1 class="centerText">Pie Chart</h1>
                    <p:chart id="pie" type="pie" model="#{chartDemoView.pieModel1}" responsive="true" />
                </div>
                
                <div class="card">
                    <h1 class="centerText">Donut Chart</h1>
                    <p:chart id="donut" type="donut" model="#{chartDemoView.donutModel1}" responsive="true" />
                </div>
                
                <div class="card">
                    <h1 class="centerText">Bar And Line Chart</h1>
                    <p:chart id="combined" type="bar" model="#{chartDemoView.combinedModel}" responsive="true" />
                </div>
                
                <div class="card">
                    <h1 class="centerText">Multi Axis Chart</h1>
                    <p:chart id="multiAxis" type="line" model="#{chartDemoView.multiAxisModel}" responsive="true"/>
                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>