<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/template.xhtml">

    <ui:define name="title">Dashboard</ui:define>

    <ui:define name="content">
        <div class="layout-dashboard">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-3">
                    <div class="intro-box">
                        <div class="intro-box-name intro-box-greeting">Morning Jane</div>
                        <div class="intro-box-detail">System Administrator</div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-9 intro-box-detail-container">
                    <div class="intro-box">
                        <div class="intro-box-name">Account Status</div>
                        <div class="intro-box-detail">
                            <span class="badge-green">PREMIUM</span>
                        </div>
                    </div>
                    <div class="intro-box">
                        <div class="intro-box-name">New Tasks</div>
                        <div class="intro-box-detail">12</div>
                    </div>
                    <div class="intro-box">
                        <div class="intro-box-name">Next Payment</div>
                        <div class="intro-box-detail">Jan, 26</div>
                    </div>
                    <div class="intro-box">
                        <div class="intro-box-name">Last Update</div>
                        <div class="intro-box-detail">Jan, 25</div>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-xl-3">
                    <div class="overview-box overview-box-sales">
                        <p:graphicImage name="images/dashboard/asset-sales.svg" library="olympia-layout" />
                        <div class="overview-box-content">
                            <div class="overview-box-title">SALES</div>
                            <div class="overview-box-details">$74,325</div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-xl-3">
                    <div class="overview-box overview-box-views">
                        <p:graphicImage name="images/dashboard/asset-views.svg" library="olympia-layout" />
                        <div class="overview-box-content">
                            <div class="overview-box-title">VIEWS</div>
                            <div class="overview-box-details">6215/day</div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-xl-3">
                    <div class="overview-box overview-box-users">
                        <p:graphicImage name="images/dashboard/asset-users.svg" library="olympia-layout" />
                        <div class="overview-box-content">
                            <div class="overview-box-title">USERS</div>
                            <div class="overview-box-details">52,512</div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-xl-3">
                    <div class="overview-box overview-box-checkins">
                        <p:graphicImage name="images/dashboard/asset-checkins.svg" library="olympia-layout" />
                        <div class="overview-box-content">
                            <div class="overview-box-title">CHECK-INS</div>
                            <div class="overview-box-details">156</div>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-xl-9 ui-g-nopad">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-6 payments">
                            <div class="section-title">Payments</div>
                            <div class="card payment">
                                <div class="payment-title">Brooke has sent you a payment</div>
                                <div class="payment-time"><i class="fa fa-clock-o"></i> 16:19</div>
                                <div class="payment-amount">$1500</div>
                                <div class="payment-sender">
                                    <p:graphicImage name="images/avatar-brooke.png" library="olympia-layout" />
                                    <span>Brooke MacCarthy</span>
                                </div>
                            </div>
                            <div class="card payment">
                                <div class="payment-title">Lucas has sent you a payment</div>
                                <div class="payment-time"><i class="fa fa-clock-o"></i> 14:12</div>
                                <div class="payment-amount">$500</div>
                                <div class="payment-sender">
                                    <p:graphicImage name="images/avatar-lucas.png" library="olympia-layout" />
                                    <span>Lucas Alvarez</span>
                                </div>
                            </div>
                            <div class="card payment">
                                <div class="payment-title">Claire has sent you a payment</div>
                                <div class="payment-time"><i class="fa fa-clock-o"></i> 10:21</div>
                                <div class="payment-amount">$2000</div>
                                <div class="payment-sender">
                                    <p:graphicImage name="images/avatar-claire.png" library="olympia-layout" />
                                    <span>Claire Williams</span>
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-lg-6 projects">
                            <div class="section-title">Projects</div>
                            <div class="card project">
                                <div class="project-title">CUSTOMER PORTAL</div>
                                <p>Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence. </p>
                                <span class="project-badge">Redesign</span>
                                <span class="project-badge project-badge-alt">Plan</span>
                                <div class="project-progress project-progress-1">
                                    <div class="project-progress-value">33%</div>
                                </div>
                            </div>
                            <div class="card project">
                                <div class="project-title">CHECKOUT FLOW</div>
                                <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>
                                <span class="project-badge">Redesign</span>
                                <span class="project-badge project-badge-alt">Implementation</span>
                                <div class="project-progress project-progress-2">
                                    <div class="project-progress-value">18%</div>
                                </div>
                            </div>
                            <div class="card project">
                                <div class="project-title">AUTHENTICATION</div>
                                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking.</p>
                                <span class="project-badge">Test</span>
                                <span class="project-badge project-badge-alt">Deploy</span>
                                <div class="project-progress project-progress-3">
                                    <div class="project-progress-value">64%</div>
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-lg-8">
                            <div class="card timeline ui-fluid">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <span class="event-time">just now</span>
                                        <i class="fa fa-map-signs" style="color:#c6bca2"></i>
                                    </div>
                                    <div class="ui-g-9">
                                        <span class="event-owner">Katherine May</span>
                                        <span class="event-text">Lorem ipsun dolor amet</span>
                                        <div class="event-content">
                                            <p:graphicImage name="images/dashboard/antalya.png" library="olympia-layout" width="100"/>
                                        </div>
                                    </div>
                                    
                                    <div class="ui-g-3">
                                        <span class="event-time">12h ago</span>
                                        <i class="fa fa-star" style="color:#b5c6c0"></i>
                                    </div>
                                    <div class="ui-g-9">
                                        <span class="event-owner">Brandon Santos</span>
                                        <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
                                    </div>
                                                                    
                                    <div class="ui-g-3">
                                        <span class="event-time">2d ago</span>
                                        <i class="fa fa-map" style="color:#bab3cc"></i>
                                    </div>
                                    <div class="ui-g-9">
                                        <span class="event-owner">Jason Smith</span>
                                        <span class="event-text">Laudantium, repudiandae, similique!</span>
                                        <div class="event-content">
                                            <p:graphicImage name="images/dashboard/stats-comp.png" library="olympia-layout" />
                                        </div>
                                    </div>                                    
                                    <div class="ui-g-3">
                                        <span class="event-time">2w ago</span>
                                        <i class="fa fa-history" style="color:#b5c6c0"></i>
                                    </div>
                                    <div class="ui-g-9">
                                        <span class="event-owner">Walter White</span>
                                        <span class="event-text">I am the one who knocks!</span>
                                    </div>
                                    <div class="ui-g-12">
                                        <p:commandButton type="button" value="Refresh" icon="ui-icon-refresh" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="ui-g-12 ui-lg-4">
                            <div class="card accounting">
                                <div class="accounting-title">Revenue This Month</div>
                                <div class="accounting-value">$36998</div>
                                <p:graphicImage name="images/dashboard/lines1.png" library="olympia-layout" />
                                <div class="accounting-progress accounting-progress-1">
                                    <div class="accounting-progress-value"></div>
                                </div>
                                <div class="accounting-footer">%19 more than last month</div>
                            </div>

                            <div class="card accounting">
                                <div class="accounting-title">Income This Month</div>
                                <div class="accounting-value">$21500</div>
                                <p:graphicImage name="images/dashboard/lines2.png" library="olympia-layout" />
                                <div class="accounting-progress accounting-progress-2">
                                    <div class="accounting-progress-value"></div>
                                </div>
                                <div class="accounting-footer">%22 more than last month</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-xl-3">
                    <div class="section-title">Services</div>
                    <div class="card service-box">
                        <i class="fa fa-wifi"></i>
                        <div>
                            <span class="service-name">WiFi Services</span>
                            <span class="service-status">10/24 Online</span>
                        </div>
                        <p:commandButton type="button" value="Enable" styleClass="success-btn" />
                    </div>
                    <div class="card service-box">
                        <i class="fa fa-dashboard"></i>
                        <div>
                            <span class="service-name">Monitoring</span>
                            <span class="service-status">59 New Reports</span>
                        </div>
                        <p:commandButton type="button" value="Disable" styleClass="danger-btn" />
                    </div>
                    <div class="card service-box">
                        <i class="fa fa-lock"></i>
                        <div>
                            <span class="service-name">Security</span>
                            <span class="service-status">10/24 Online</span>
                        </div>
                        <p:commandButton type="button" value="Enable" styleClass="success-btn" />
                    </div>
                    <div class="card service-box">
                        <i class="fa fa-coffee"></i>
                        <div>
                            <span class="service-name">Coffee Machine</span>
                            <span class="service-status">714 Shots Available</span>
                        </div>
                        <p:commandButton type="button" value="Enable" styleClass="success-btn" />
                    </div>

                    <div class="usercard">
                        <div class="usercard-header">
                            <span class="usercard-name">Jane Watson</span>
                            <p:graphicImage name="images/avatar.png" library="olympia-layout" />
                        </div>
                        <div class="usercard-content card">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum mi consequat risus consectetur, eget porta est dignissim. </p>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-bug"></i>
                                        <span class="usercard-number">49</span> Issues
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        <span class="usercard-number">7</span> Open
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-circle"></i>
                                        <span class="usercard-number">42</span> Closed
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="usercard-footer">
                            <p:commandButton id="usercard-menu" type="button" icon="fa fa-ellipsis-h" styleClass="success-btn"/>
                            <p:menu overlay="true" trigger="usercard-menu" my="left top" at="left bottom">
                                <p:menuitem url="#" value="Settings" icon="fa fa-cog"/>
                                <p:menuitem url="#" value="Sign Out" icon="fa fa-sign-out"/>
                            </p:menu>
                        </div>
                    </div>

                    <div class="inbox">
                        <div class="inbox-header">
                            INBOX
                            <a href="#">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </div>
                        <div class="inbox-content">
                            <ul>
                                <li>
                                    <p:graphicImage name="images/avatar-claire.png" library="olympia-layout" />
                                    <div class="inbox-sender">Claire Williams</div>
                                    <div class="inbox-message"> Override the digital divide with additional clickthroughs from DevOps.</div>
                                </li>
                                <li>
                                    <p:graphicImage name="images/avatar-lucas.png" library="olympia-layout" />
                                    <div class="inbox-sender">Lucas Alvarez</div>
                                    <div class="inbox-message">Podcasting operational change management inside of workflows to establish a framework.</div>
                                </li>
                                <li>
                                    <p:graphicImage name="images/avatar-maggie.png" library="olympia-layout" />
                                    <div class="inbox-sender">Maggie Stanford</div>
                                    <div class="inbox-message">Taking seamless key performance indicators offline to maximise the long tail.</div>
                                </li>
                                <li>
                                    <p:graphicImage name="images/avatar-tom.png" library="olympia-layout" />
                                    <div class="inbox-sender">Tom Davidson</div>
                                    <div class="inbox-message">Keeping your eye on the ball while performing a deep dive on the start-up mentality.</div>
                                </li>
                                <li>
                                    <p:graphicImage name="images/avatar-brooke.png" library="olympia-layout" />
                                    <div class="inbox-sender">Brooke MacCarthy</div>
                                    <div class="inbox-message">Collaboratively administrate empowered markets via plug-and-play networks.</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="transactions">
                        <div class="ui-g">
                            <div class="ui-g-6 transaction-success">
                                <div class="transaction-graph">42%</div>
                                <div class="transaction-type">Success</div>
                                <div class="transaction-value">79280</div>
                            </div>
                            <div class="ui-g-6 transaction-failed">
                                <div class="transaction-graph">5%</div>
                                <div class="transaction-type">Failed</div>
                                <div class="transaction-value">12</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-xl-8">
                    <p:dataTable var="car" value="#{dtSelectionView.cars7}" selectionMode="single" reflow="true"
                            selection="#{dtSelectionView.selectedCar}" rowKey="#{car.id}" paginator="true" rows="10">
                            <f:facet name="header">
                                List of Cars
                            </f:facet>
                            <p:column headerText="Id" sortBy="#{car.id}">
                                <h:outputText value="#{car.id}" />
                            </p:column>

                            <p:column headerText="Year" sortBy="#{car.year}">
                                <h:outputText value="#{car.year}" />
                            </p:column>

                            <p:column headerText="Brand" sortBy="#{car.brand}">
                                <h:outputText value="#{car.brand}" />
                            </p:column>

                            <p:column headerText="Color" sortBy="#{car.color}">
                                <h:outputText value="#{car.color}" />
                            </p:column>
                    </p:dataTable>
                </div>
                <div class="ui-g-12 ui-xl-4">
                    <div class="card chat">
                        <ul>
                            <li class="clearfix message-from">
                                <p:graphicImage name="images/avatar-brooke.png" library="olympia-layout" />
                                <span>Ab nobis, magnam sunt eum. Laudantium,!</span>
                            </li>
                            <li class="clearfix message-own">
                                <span>Actually artisan organic occupy.</span>
                                <p:graphicImage name="images/avatar.png" library="olympia-layout" />
                            </li>
                            <li class="clearfix message-from">
                                <p:graphicImage name="images/avatar-brooke.png" library="olympia-layout" />
                                <span>Chillwave craft beer tote bag stumptown quinoa.</span>
                            </li>
                            <li class="clearfix message-own">
                                <span>Dreamcatcher locavore iPhone chillwave.</span>
                                <p:graphicImage name="images/avatar.png" library="olympia-layout" />
                            </li>
                            <li class="clearfix message-from">
                                <p:graphicImage name="images/avatar-brooke.png" library="olympia-layout" />
                                <span>Lorem ipsum dolor sit amet, consectetur. </span>
                            </li>
                            <li class="clearfix message-own">
                                <span>Vestibulum bibendum mi consequat risus.</span>
                                <p:graphicImage name="images/avatar.png" library="olympia-layout" />
                            </li>
                        </ul>
                        <div class="new-message">
                            <textarea></textarea>
                            <div class="new-message-footer">
                                <a class="new-message-icon"><i class="fa fa-paperclip" /></a>
                                <a class="new-message-icon"><i class="fa fa-cog" /></a>

                                <a class="new-message-send">Send</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>