<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .cars-datalist .text-column p:last-child{
                color:#757575;
            }

            .cars-datalist .car-item {
                padding: 8px 14px;
            }

            .cars-datalist .car-item img, .cars-datalist .car-item .car-details {
                display: inline-block;
                vertical-align: middle;
                margin-right: 14px;
            }

            .cars-datalist .car-item button {
                float: right;
            }
            
            .cars-datalist .ui-datalist-item:not(:last-child) {
                border-bottom: 1px solid #dee4e9;
            }

            .cars-datalist ul {
                margin: 0;
                padding: 0;
            }

            .ui-car-display td:last-child {
                font-weight: 700;
            }

            @media (max-width:640px) {
                .cars-datalist .text-column {
                    text-align: center;
                }

                .ui-tree {
                    width: 100%;
                }
            }
        </style>
    </ui:define>

    <ui:define name="title">Data</ui:define>
    
    <ui:define name="viewname">
        <li>Components</li>
        <li>/</li>
        <li><p:link outcome="/data">Data</p:link></li>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>DataTable</h1>
                        <p:dataTable var="car" value="#{dtSelectionView.cars7}" selectionMode="single" reflow="true"
                                     selection="#{dtSelectionView.selectedCar}" rowKey="#{car.id}" paginator="true" rows="10">
                            <f:facet name="header">
                                List of Cars
                            </f:facet>
                            <p:column headerText="Id" sortBy="#{car.id}">
                                <h:outputText value="#{car.id}" />
                            </p:column>

                            <p:column headerText="Year" sortBy="#{car.year}">
                                <h:outputText value="#{car.year}" />
                            </p:column>

                            <p:column headerText="Brand" sortBy="#{car.brand}">
                                <h:outputText value="#{car.brand}" />
                            </p:column>

                            <p:column headerText="Color" sortBy="#{car.color}">
                                <h:outputText value="#{car.color}" />
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
                <div class="ui-g-12">
                    <!-- Left Side -->
                    <div class="card card-w-title">
                        <h1>DataGrid</h1>
                        <p:dataGrid var="car" value="#{dataGridView.cars}" columns="3" layout="grid" rows="6" paginator="true" id="cars">
                            <f:facet name="header">
                                List of Cars
                            </f:facet>

                            <p:panel header="#{car.brand}" style="text-align:center">
                                <h:panelGrid columns="1" style="width:100%" cellpadding="6">
                                    <f:facet name="header">
                                        <p:graphicImage name="demo/images/car/#{car.brand}.png"/> 
                                    </f:facet>

                                    <h:outputText value="#{car.color}"/>
                                    <h:outputText value="#{car.year}" />
                                    <p:commandButton icon="fa fa-search" update=":form:selectedCarDetail" oncomplete="PF('carDialog').show()">
                                        <f:setPropertyActionListener value="#{car}" target="#{dataGridView.selectedCar}" />
                                    </p:commandButton>
                                </h:panelGrid>
                            </p:panel>

                        </p:dataGrid>

                        <p:dialog header="Car Info" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" responsive="true" width="200">
                            <p:outputPanel id="selectedCarDetail" style="text-align:center;">
                                <p:panelGrid  columns="2" rendered="#{not empty dataGridView.selectedCar}" columnClasses="label,value" style="width:100%">
                                    

                                    <h:outputText value="Id:" />
                                    <h:outputText value="#{dataGridView.selectedCar.id}" />

                                    <h:outputText value="Year" />
                                    <h:outputText value="#{dataGridView.selectedCar.year}" />

                                    <h:outputText value="Color:" />
                                    <h:outputText value="#{dataGridView.selectedCar.color}" style="color:#{dataGridView.selectedCar.color}"/>

                                    <h:outputText value="Price" />
                                    <h:outputText value="\$#{dataGridView.selectedCar.price}" />
                                </p:panelGrid>
                            </p:outputPanel>
                        </p:dialog>
                    </div>
                </div>

                <div class="ui-g-12 ui-lg-8">
                    <div class="card card-w-title">
                        <h1>PickList</h1>
                        <p:pickList id="pickList" value="#{pickListView.cities}" var="cities" itemLabel="#{cities}" itemValue="#{cities}"
                                    showSourceControls="true" showTargetControls="true" showSourceFilter="true" showTargetFilter="true" responsive="true">
                            <f:facet name="sourceCaption">From</f:facet>
                            <f:facet name="targetCaption">To</f:facet>
                        </p:pickList>
                    </div>
                </div>

                <div class="ui-g-12 ui-lg-4">
                    <div class="card card-w-title">
                        <h1>OrderList</h1>
                        <p:orderList value="#{orderListView.cities}" var="city" controlsLocation="left" itemLabel="#{city}" itemValue="#{city}" responsive="true">
                            <f:facet name="caption">Cities</f:facet>
                        </p:orderList>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>TreeTable</h1>
                        <p:treeTable value="#{treeSelectionView.root3}" var="document" selectionMode="checkbox" selection="#{treeSelectionView.selectedNodes1}">
                            <f:facet name="header">
                                File System
                            </f:facet>
                            <p:column headerText="Name" sortBy="#{document.name}">
                                <h:outputText value="#{document.name}" />
                            </p:column>
                            <p:column headerText="Size">
                                <h:outputText value="#{document.size}" />
                            </p:column>
                            <p:column headerText="Type">
                                <h:outputText value="#{document.type}" />
                            </p:column>
                        </p:treeTable>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>DataList</h1>
                        <p:dataList value="#{dataListView.cars3}" var="car" 
                                    type="unordered" itemType="none" paginator="true" rows="7" styleClass="cars-datalist">
                            <f:facet name="header">
                                List of Cars
                            </f:facet>
                            <div class="clearfix car-item">
                                <p:graphicImage name="demo/images/car/#{car.brand}.png"/> 
                                <div class="car-details">
                                    <p>#{car.brand}</p>
                                    <p style="color:#757575">#{car.year} - #{car.color}</p>
                                </div>
                                <p:commandButton update=":form:carDetail" oncomplete="PF('carDialog2').show()" title="View Detail" icon="fa fa-search" style="margin:48px 24px 0 0">
                                    <f:setPropertyActionListener value="#{car}" target="#{dataListView.selectedCar}" />
                                </p:commandButton>
                            </div>
                        </p:dataList>

                        <p:dialog header="Car Info" widgetVar="carDialog2" responsive="true" modal="true" showEffect="blind" hideEffect="explode" resizable="false">
                            <p:outputPanel id="carDetail" style="text-align:center;">
                                <p:panelGrid  columns="2" rendered="#{not empty dataListView.selectedCar}" columnClasses="label,value">
                                    <f:facet name="header">
                                        <p:graphicImage name="demo/images/car/#{dataListView.selectedCar.brand}.png"/> 
                                    </f:facet>

                                    <h:outputText value="Id:" />
                                    <h:outputText value="#{dataListView.selectedCar.id}" />

                                    <h:outputText value="Year" />
                                    <h:outputText value="#{dataListView.selectedCar.year}" />

                                    <h:outputText value="Color:" />
                                    <h:outputText value="#{dataListView.selectedCar.color}" style="color:#{dataListView.selectedCar.color}"/>

                                    <h:outputText value="Price" />
                                    <h:outputText value="\$#{dataListView.selectedCar.price}" />
                                </p:panelGrid>
                            </p:outputPanel>
                        </p:dialog>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>Carousel</h1>
                        <p:carousel value="#{carouselView.cars}" headerText="List of Cars" var="car" itemStyle="text-align:center;padding: 14px" responsive="true">
                                <p:outputPanel style="text-align:center">
                                    <p:graphicImage name="demo/images/car/#{car.brand}.png" />
                                </p:outputPanel>
                                
                                <p:panelGrid columns="2" style="width:100%" styleClass="ui-panelgrid-blank ui-car-display">
                                    <h:outputText value="Id:" />
                                    <h:outputText value="#{car.id}" />
                                
                                    <h:outputText value="Year" />
                                    <h:outputText value="#{car.year}" />

                                    <h:outputText value="Color:" />
                                    <h:outputText value="#{car.color}"/>

                                    <h:outputText value="Price" />
                                    <h:outputText value="\$#{car.price}" />
                                </p:panelGrid>

                                <f:facet name="footer">
                                    Footer
                                </f:facet>
                        </p:carousel>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-6">
                                <h1>Tree Basic</h1>
                                <p:tree value="#{treeSelectionView.root1}" var="doc" selectionMode="single">
                                    <p:treeNode expandedIcon="fa fa-fw fa-folder-open" collapsedIcon="fa fa-fw fa-folder">
                                        <h:outputText value="#{doc.name}"/>
                                    </p:treeNode>
                                    <p:treeNode type="document" icon="fa fa-fw fa-file">
                                        <h:outputText value="#{doc.name}" />
                                    </p:treeNode>
                                    <p:treeNode type="picture" icon="fa fa-fw fa-image">
                                        <h:outputText value="#{doc.name}" />
                                    </p:treeNode>
                                    <p:treeNode type="movie" icon="fa fa-fw fa-film">
                                        <h:outputText value="#{doc.name}" />
                                    </p:treeNode>
                                </p:tree>
                            </div>

                            <div class="ui-g-12 ui-md-6">
                                <h1>Tree Checkbox</h1>
                                <p:tree value="#{treeSelectionView.root2}" var="doc" selectionMode="checkbox">
                                    <p:treeNode expandedIcon="fa fa-fw fa-folder-open" collapsedIcon="fa fa-fw fa-folder">
                                        <h:outputText value="#{doc.name}"/>
                                    </p:treeNode>
                                    <p:treeNode type="document" icon="fa fa-fw fa-file">
                                        <h:outputText value="#{doc.name}" />
                                    </p:treeNode>
                                    <p:treeNode type="picture" icon="fa fa-fw fa-image">
                                        <h:outputText value="#{doc.name}" />
                                    </p:treeNode>
                                    <p:treeNode type="movie" icon="fa fa-fw fa-film">
                                        <h:outputText value="#{doc.name}" />
                                    </p:treeNode>
                                </p:tree>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>Horizontal Tree</h1>
                        <p:tree value="#{treeSelectionView.root1}" var="doc" orientation="horizontal" selectionMode="single">
                            <p:treeNode expandedIcon="fa fa-fw fa-folder-open" collapsedIcon="fa fa-fw fa-folder">
                                <h:outputText value="#{doc.name}"/>
                            </p:treeNode>
                            <p:treeNode type="document" icon="fa fa-fw fa-file">
                                <h:outputText value="#{doc.name}" />
                            </p:treeNode>
                            <p:treeNode type="picture" icon="fa fa-fw fa-image">
                                <h:outputText value="#{doc.name}" />
                            </p:treeNode>
                            <p:treeNode type="movie" icon="fa fa-fw fa-film">
                                <h:outputText value="#{doc.name}" />
                            </p:treeNode>
                        </p:tree>
                    </div>
                    <div class="card card-w-title">
                        <h1>Schedule</h1>
                        <p:schedule id="schedule" value="#{scheduleView.eventModel}" leftHeaderTemplate="prev,next"/>
                    </div>
                </div>
            </div>
        </h:form>

    </ui:define>

</ui:composition>