<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="title">File</ui:define>
    <ui:define name="viewname">
        <li>Components</li>
        <li>/</li>
        <li><p:link outcome="/file">File</p:link></li>
    </ui:define>

    <ui:define name="content">
        <div class="container">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="card">
                        <h1>Advanced</h1>
                        <h:form>
                            <p:fileUpload fileUploadListener="#{fileUploadView.handleFileUpload}" mode="advanced" dragDropSupport="false"
                                          multiple="true" update="messages" sizeLimit="100000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" style="width:100%" />
        
                            <p:growl id="messages" showDetail="true" />
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>