<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">
                
    <ui:define name="title">Forms</ui:define>
    <ui:define name="viewname">
        <li>Components</li>
        <li>/</li>
        <li><p:link outcome="/forms">Forms</p:link></li>
    </ui:define>
                
    <ui:define name="content">    
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6">
                <!-- Left Side -->
                <div class="card card-w-title">
                    <h1>InputText</h1>
                    <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                        <p:inputText placeholder="Name"/>
                        <p:inputText placeholder="Email"/>
                        <p:inputText placeholder="Phone"/>
                        
                        <p:inputText placeholder="Disabled" disabled="true"/>
                        <p:inputText placeholder="Readonly" readonly="true"/>
                        <p:inputText placeholder="Invalid" styleClass="ui-state-error"/>
                    </p:panelGrid>
                </div>
                
                <div class="card card-w-title">
                    <h1>TextArea</h1>
                    <p:inputTextarea rows="3" placeholder="Your Message" autoResize="false"/>
                </div>
                
                <div class="card card-w-title">
                    <h1>AutoComplete</h1>
                    <p:panelGrid columns="1" styleClass="form-group ui-panelgrid-blank" layout="grid">
                        <p:outputLabel value="Simple:" for="acSimple" />
                        <p:autoComplete id="acSimple" value="#{autoCompleteView.txt1}" completeMethod="#{autoCompleteView.completeText}" style="margin-bottom:10px;"/>

                        <p:outputLabel value="Multiple:" for="dd" />
                        <p:autoComplete id="dd" dropdown="true" multiple="true" completeMethod="#{autoCompleteView.completeText}" style="margin-bottom:10px;"/>

                        <p:outputLabel value="Group:" for="group" />
                        <p:autoComplete id="group" value="#{autoCompleteView.theme4}" completeMethod="#{autoCompleteView.completeThemeContains}"
                                        var="theme" itemLabel="#{theme.displayName}" itemValue="#{theme}" converter="theme"
                                        groupBy="#{autoCompleteView.getThemeGroup(theme)}" scrollHeight="250"/>
                    </p:panelGrid>
                </div>
                
                <div class="card card-w-title">
                    <h1>SelectCheckBoxMenu</h1>
                    <p:selectCheckboxMenu label="Cities" filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Option 1" itemValue="1" />
                        <f:selectItem itemLabel="Option 2" itemValue="2" />
                        <f:selectItem itemLabel="Option 3" itemValue="3" />
                    </p:selectCheckboxMenu>
                </div>
                
                <div class="card card-w-title">
                    <h1>SelectManyMenu</h1>
                    <p:selectManyMenu showCheckbox="true" filter="true">
                        <f:selectItem itemLabel="Option 1" itemValue="1" />
                        <f:selectItem itemLabel="Option 2" itemValue="2" />
                        <f:selectItem itemLabel="Option 3" itemValue="3" />
                    </p:selectManyMenu>
                </div>
                
                <div class="card card-w-title">
                    <h1>Rating</h1>
                    <p:rating />
                </div>
                
                <div class="card card-w-title">
                    <h1>Calendar</h1>
                    <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group" style="margin-top:10px">
                        <p:spacer />
                        <p:calendar id="inline"  mode="inline"/>
                    
                        <p:outputLabel for="popup" value="Popup:" />
                        <p:calendar id="popup" />

                        <p:outputLabel for="multi" value="Multiple:" />
                        <p:calendar id="multi" pages="3" />

                        <p:outputLabel for="effect" value="Effect:" />
                        <p:calendar id="effect" effect="fold" />

                        <p:outputLabel for="datetime" value="Datetime:" />
                        <p:calendar id="datetime" pattern="MM/dd/yyyy HH:mm:ss" />

                        <p:outputLabel for="time" value="Time:" />
                        <p:calendar id="time" pattern="HH:mm a" timeOnly="true"  />

                        <p:outputLabel for="button" value="Button:" />
                        <p:calendar id="button" showOn="button" />
                    </p:panelGrid>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-6">
                <!-- Right Side -->
                <div class="card card-w-title">
                    <h1>Checkboxes</h1>
                    <p:selectManyCheckbox layout="responsive" columns="4">
                        <f:selectItem itemLabel="Xbox" itemValue="Xbox One" />
                        <f:selectItem itemLabel="PS4" itemValue="PS+" />
                        <f:selectItem itemLabel="Wii" itemValue="Wii U" />
                        <f:selectItem itemLabel="PC" itemValue="PC" />
                    </p:selectManyCheckbox>
                </div>
                
                <div class="card card-w-title">
                    <h1>RadioButtons</h1>
                    <p:selectOneRadio layout="responsive" columns="4">
                        <f:selectItem itemLabel="Xbox" itemValue="Xbox One" />
                        <f:selectItem itemLabel="PS4" itemValue="PS+" />
                        <f:selectItem itemLabel="Wii" itemValue="Wii U" />
                        <f:selectItem itemLabel="PC" itemValue="PC" />
                    </p:selectOneRadio>
                </div>
                
                <div class="card card-w-title">
                    <h1>Input Switch</h1>
                    <p:inputSwitch />
                </div>
                
                <div class="card card-w-title">
                    <h1>SelectOneMenu</h1>
                    <p:panelGrid columns="1" style="margin-bottom:10px" layout="grid" styleClass="form-group ui-panelgrid-blank">
                        <p:selectOneMenu id="console" value="#{selectOneMenuView.console}" style="margin-bottom:10px;">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                            <f:selectItem itemLabel="PS4" itemValue="PS4" />
                            <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                        </p:selectOneMenu>

                        <p:selectOneMenu id="car" style="margin-bottom:10px;">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItems value="#{selectOneMenuView.cars}" />
                        </p:selectOneMenu>

                        <p:selectOneMenu id="city" value="#{selectOneMenuView.city}" effect="fold" editable="true">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                            <f:selectItem itemLabel="PS4" itemValue="PS4" />
                            <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                        </p:selectOneMenu>
                    </p:panelGrid>
                </div>
                
                <div class="card card-w-title">
                    <h1>Keyboard And Password</h1>
                    <p:panelGrid columns="1" style="margin-bottom:10px" layout="grid" styleClass="form-group ui-panelgrid-blank">
                        <p:keyboard placeholder="Keyboard"/>
                        <p:password feedback="true" placeholder="Password" style="margin-top:15px;"/>
                    </p:panelGrid>
                </div>
                
                <div class="card card-w-title">
                    <h1>MultiSelectListBox</h1>
                    <p:multiSelectListbox value="#{multiSelectView.selection}" effect="slide" header="Categories" showHeaders="true">
                        <f:selectItems value="#{multiSelectView.categories}" />
                    </p:multiSelectListbox>
                </div>
                
                <div class="card card-w-title">
                    <h1>SelectOneListBox</h1>
                    <p:selectOneListbox filter="true">
                        <f:selectItem itemLabel="Option 1" itemValue="1" />
                        <f:selectItem itemLabel="Option 2" itemValue="2" />
                        <f:selectItem itemLabel="Option 3" itemValue="3" />
                    </p:selectOneListbox>
                </div>
                
                <div class="card card-w-title">
                    <h1>Spinner</h1>
                    <p:spinner />
                </div>
                
                <div class="card card-w-title">
                    <h1>Slider</h1>
                    <p:panelGrid columns="1" style="margin-bottom: 50px" layout="grid" styleClass="form-group ui-panelgrid-blank">
                        <p:inputText id="slider" style="margin-bottom:10px;" placeholder="Horizontal"/>
                        <p:slider for="slider"/>
                    </p:panelGrid>
                    
                    <p:panelGrid columns="1" style="margin-bottom: 50px" layout="grid" styleClass="form-group ui-panelgrid-blank">
                        <p:inputText id="txt4" style="margin-bottom:10px;" placeholder="Vertical"/>
                        <p:slider for="txt4" type="vertical" />
                    </p:panelGrid>
                    
                    <p:panelGrid columns="1" layout="grid" styleClass="form-group ui-panelgrid-blank">
                        <h:outputText id="displayRange" value="Range" style="font-size:16px"/>
                        <p:slider for="txt6,txt7" display="displayRange" range="true" displayTemplate="Between {min} and {max}" minValue="0" maxValue="100" style="margin-top:15px"/>
                    </p:panelGrid>
                    <h:inputHidden id="txt6" value="20"/>
                    <h:inputHidden id="txt7" value="80"/>
                </div>

                <div class="card card-w-title">
                    <h1>Chips</h1>
                    <p:chips></p:chips>
                </div>
            </div>
            
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>Input Groups</h1>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <p:inputText placeholder="Username" />      
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>  
                                <span class="ui-inputgroup-addon"><i class="fa fa-cc-visa"></i></span>   
                                <p:inputText placeholder="Price" />
                                <span class="ui-inputgroup-addon">$</span>  
                                <span class="ui-inputgroup-addon">.00</span>      
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <p:commandButton value="Search"/> 
                                <p:inputText placeholder="Keyword" />        
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon-checkbox"><p:selectBooleanCheckbox /></span>
                                <p:inputText placeholder="Username" />        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-lg-6" style="padding-top:0">
                    <div class="card card-w-title">
                        <h1>Buttons</h1>
                        <h:form>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank lesspad">
                                <h:outputText value="SelectBooleanButton:" />
                                <p:selectBooleanButton onLabel="Yes" offLabel="No" style="width:50%" />

                                <h:outputText value="SelectOneButton:" />
                                <p:selectOneButton>
                                    <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                                    <f:selectItem itemLabel="PS4" itemValue="PS4" />
                                    <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                                </p:selectOneButton>

                                <h:outputText value="SelectManyButton:" />
                                <p:selectManyButton>
                                    <f:selectItem itemLabel="b" itemValue="b"/>
                                    <f:selectItem itemLabel="u" itemValue="u" />
                                    <f:selectItem itemLabel="i" itemValue="i" />
                                </p:selectManyButton>

                                <h:outputText value="Button" />
                                <p:button value="Bookmark" style="width:auto"/>

                                <h:outputText value="Icon Only" />
                                <p:commandButton type="button" icon="fa fa-star" style="width:30px"/>

                                <h:outputText value="Left Icon" />
                                <p:commandButton type="button" value="Bookmark" icon="fa fa-star" />

                                <h:outputText value="Right Icon" />
                                <p:commandButton type="button" value="Bookmark" icon="fa fa-star" iconPos="right" />

                                <h:outputText value="CommandLink" />
                                <p:commandLink value="commandLink" />

                                <h:outputText value="Link" />
                                <p:link value="Bookmark" />

                                <h:outputText value="SplitButton" />
                                <p:splitButton value="Save" icon="fa fa-check">
                                    <p:menuitem value="Update" url="#" icon="fa fa-refresh" />
                                    <p:menuitem value="Delete" url="#" icon="fa fa-trash" />
                                    <p:separator />
                                    <p:menuitem value="Homepage" icon="fa fa-home" />
                                </p:splitButton>
                            </p:panelGrid>
                        </h:form>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-6" style="padding-top:0">
                    <div class="card card-w-title">
                        <h1>Colored Buttons</h1>
                        <p>Raised and Flat buttons with various color alternatives.</p>
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-4" style="text-align:center">                                
                                <p:commandButton type="button" value="Primary" style="margin-bottom:10px;"/>
                                <p:commandButton type="button" value="Secondary" styleClass="secondary-button" style="margin-bottom:10px;" />
                                <p:commandButton type="button" value="Success" styleClass="success-btn" style="margin-bottom:10px;"/>
                                <p:commandButton type="button" value="Warning" styleClass="warning-btn" style="margin-bottom:10px;"/>
                                
                                <p:commandButton type="button" value="Info" styleClass="info-btn" style="margin-bottom:10px;"/>
                                <p:commandButton type="button" value="Help" styleClass="help-btn" style="margin-bottom:10px;"/>
                                <p:commandButton type="button" value="Danger" styleClass="danger-btn" style="margin-bottom:10px;"/>
                            </div>
                            
                            <div class="ui-g-12 ui-md-4" style="text-align:center">                                
                                <p:commandButton type="button" value="Primary" style="margin-bottom:10px;" styleClass="raised-btn" />
                                <p:commandButton type="button" value="Secondary" styleClass="secondary-button raised-btn" style="margin-bottom:10px;" />
                                <p:commandButton type="button" value="Success" styleClass="success-btn raised-btn" style="margin-bottom:10px;"/>
                                <p:commandButton type="button" value="Warning" styleClass="warning-btn raised-btn" style="margin-bottom:10px;"/>
                                <p:commandButton type="button" value="Info" styleClass="info-btn raised-btn" style="margin-bottom:10px;"/>
                                <p:commandButton type="button" value="Help" styleClass="help-btn raised-btn" style="margin-bottom:10px;"/>
                                <p:commandButton type="button" value="Danger" styleClass="danger-btn raised-btn" style="margin-bottom:10px;"/>
                            </div>
                            
                            <div class="ui-g-12 ui-md-4" style="text-align:center">                                
                                <p:commandButton type="button" value="Primary" style="margin-bottom:10px;" styleClass="rounded-btn" />
                                <p:commandButton type="button" value="Secondary" styleClass="secondary-button rounded-btn" style="margin-bottom:10px;" />
                                <p:commandButton type="button" value="Success" styleClass="success-btn rounded-btn" style="margin-bottom:10px;"/>
                                <p:commandButton type="button" value="Warning" styleClass="warning-btn rounded-btn" style="margin-bottom:10px;"/>
                                <p:commandButton type="button" value="Info" styleClass="info-btn rounded-btn" style="margin-bottom:10px;"/>    
                                <p:commandButton type="button" value="Help" styleClass="help-btn rounded-btn" style="margin-bottom:10px;"/>                            
                                <p:commandButton type="button" value="Danger" styleClass="danger-btn rounded-btn" style="margin-bottom:10px;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>