<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="title">Messages</ui:define>
    <ui:define name="viewname">
        <li>Components</li>
        <li>/</li>
        <li><p:link outcome="/messages">Messages</p:link></li>
    </ui:define>
    
    <ui:define name="head">
        <style type="text/css">
            .ui-button {
                margin-right: 4px;
            }
            
            .form-grid td {
                padding: 16px 2px;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                    <h:form>
                        <h1>Messages</h1>
                        <p:tooltip />

                        <p:messages id="messages" showDetail="true" closable="true" />
                        
                        <p:growl id="growl" showDetail="true"/> 

                        <p:commandButton value="Info" actionListener="#{messagesView.info}" styleClass="info-btn" style="width:100px;margin-right:6px" process="@this" update="messages growl"/>
                        <p:commandButton value="Warn" actionListener="#{messagesView.warn}"  styleClass="warning-btn" style="width:100px;margin-right:6px" process="@this" update="messages growl"/>
                        <p:commandButton value="Error" actionListener="#{messagesView.error}" styleClass="danger-btn" style="width:100px;margin-right:6px" process="@this" update="messages growl"/>
                        <p:commandButton value="Fatal" actionListener="#{messagesView.fatal}" styleClass="danger-btn" style="width:100px;margin-right:6px" process="@this" update="messages growl"/>

                        <p:panelGrid id="grid" columns="3" style="margin-top:20px" styleClass="ui-panelgrid-blank form-group">
                            <p:outputLabel for="default" value="Default:" />
                            <p:inputText id="default" required="true" />
                            <p:message for="default" />

                            <p:outputLabel for="txt" value="Text:" />
                            <p:inputText id="txt" required="true" />
                            <p:message for="txt" display="text" />

                            <p:outputLabel for="icon" value="Icon:" />
                            <p:inputText id="icon" required="true" />
                            <p:message for="icon" display="icon" />
                            
                            <p:outputLabel for="tooltip" value="Tooltip:" />
                            <p:inputText id="tooltip" required="true" />
                            <p:message for="tooltip" display="tooltip" />
                        </p:panelGrid>

                        <p:commandButton id="submitButton" value="Submit" actionListener="#{messagesView.growlMessage()}" update="grid" styleClass="GreenButton"/>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>