<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="title">Panels</ui:define>
    <ui:define name="viewname">
        <li>Components</li>
        <li>/</li>
        <li><p:link outcome="/panel">Panels</p:link></li>
    </ui:define>

    <ui:define name="head">
        <style type="text/css">
            .nba-grid {
                width: 100%;
                table-layout: fixed;
                word-wrap: break-word;
            }
            
            .ui-scrollpanel-content p:first-child {
                margin: 0;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>AccordionPanel</h1>
                    <p:accordionPanel multiple="false">
                        <p:tab title="Godfather Part I">
                            <h:outputText
                            value="The story begins as Don Vito Corleone. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat. The story begins as Don Vito Corleone. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat." />
                        </p:tab>
                        <p:tab title="Godfather Part II" closable="true">
                            <h:outputText value="Francis Ford Coppola's legendary. Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The Godfather's depiction of the dark side of the American dream.
                                      In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy,
                                      killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows." />
                        </p:tab>
                        <p:tab title="Godfather Part III">
                            <h:outputText value="After a break of more than 15 years. Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The Godfather's depiction of the dark side of the American dream.
                                      In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy,
                                      killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows." />
                        </p:tab>
                    </p:accordionPanel>
                </div>
            </div>
            
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>Panel</h1>
                    <p:panel id="basic" header="Panel" toggleable="true">
                    <h:outputText
                        value="Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The Godfather's depiction of the dark side of the American dream.
                        In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy,
                        killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows." />
                    </p:panel>
                </div>
            </div>
            
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>TabView</h1>
                    <p:tabView>
                        <p:tab title="Godfather Part I">
                            <h:outputText
                            value="The story begins as Don Vito Corleone. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat. The story begins as Don Vito Corleone. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat. Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat. Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat. Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat." />
                        </p:tab>
                        <p:tab title="Godfather Part II">
                            <h:outputText value="Francis Ford Coppola's legendary. Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The Godfather's depiction of the dark side of the American dream.
                                      In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy,
                                      killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows." />
                        </p:tab>
                        <p:tab title="Godfather Part III" closable="true">
                            <h:outputText value="After a break of more than 15 years. Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The Godfather's depiction of the dark side of the American dream.
                                      Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat, legally or illegally, for his wife and growing brood in Little Italy,
                                      killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows." />
                        </p:tab>
                    </p:tabView>
                </div>
            </div>
            
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>PanelGrid</h1>
                    <p:panelGrid styleClass="nba-grid">
                        <f:facet name="header">
                            <p:row>
                                <p:column colspan="7">1995-96 NBA Playoffs</p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">Conf. Semifinals</p:column>
                                <p:column colspan="2">Conf. Finals</p:column>
                                <p:column colspan="2">NBA Finals</p:column>
                                <p:column>Champion</p:column>
                            </p:row>

                        </f:facet>

                        <p:row>
                            <p:column style="font-weight: bold;">Seattle</p:column>
                            <p:column style="font-weight: bold;">4</p:column>

                            <p:column rowspan="2" style="font-weight: bold;">Seattle</p:column>
                            <p:column rowspan="2" style="font-weight: bold;">4</p:column>

                            <p:column rowspan="5">Seattle</p:column>
                            <p:column rowspan="5">2</p:column>

                            <p:column rowspan="11" style="font-weight: bold;">Chicago</p:column>
                        </p:row>

                        <p:row>
                            <p:column>Houston</p:column>
                            <p:column >0</p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="4" styleClass="ui-widget-header">
                                <p:spacer height="0"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column style="font-weight: bold;">Utah</p:column>
                            <p:column style="font-weight: bold;">4</p:column>

                            <p:column rowspan="2">Utah</p:column>
                            <p:column rowspan="2">3</p:column>
                        </p:row>

                        <p:row>
                            <p:column>San Antonio</p:column>
                            <p:column >2</p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="6" styleClass="ui-widget-header">
                                <p:spacer height="0"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column style="font-weight: bold;">Chicago</p:column>
                            <p:column style="font-weight: bold;">4</p:column>

                            <p:column rowspan="2" style="font-weight: bold;">Chicago</p:column>
                            <p:column rowspan="2" style="font-weight: bold;">4</p:column>

                            <p:column rowspan="5" style="font-weight: bold;">Chicago</p:column>
                            <p:column rowspan="5" style="font-weight: bold;">4</p:column>
                        </p:row>

                        <p:row>
                            <p:column>New York</p:column>
                            <p:column >1</p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="4" styleClass="ui-widget-header">
                                <p:spacer height="0"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>Atlanta</p:column>
                            <p:column >1</p:column>

                            <p:column rowspan="2">Orlando</p:column>
                            <p:column rowspan="2">0</p:column>
                        </p:row>

                        <p:row>
                            <p:column style="font-weight: bold;">Orlando</p:column>
                            <p:column style="font-weight: bold;">4</p:column>
                        </p:row>


                        <f:facet name="footer">
                            <p:row>
                                <p:column  colspan="4" style="text-align: right">
                                    Finals MVP
                                </p:column>
                                <p:column  colspan="3" rowspan="3">
                                    Michael Jordan (Chicago)
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column  colspan="4" style="text-align: right">
                                    Season MVP
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column  colspan="4" style="text-align: right">
                                    Top Scorer
                                </p:column>
                            </p:row>
                        </f:facet>
                    </p:panelGrid>
                </div>
            </div>
            
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>Custom Scrollbars</h1>
                    <p:scrollPanel style="height:200px; min-width:200px; width:270px !important;">
                        <div style="padding:10px">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat. Nulla sit amet lorem justo. Cras non tellus eros. Sed ultricies orci ut quam interdum fringilla. Nam vitae massa ac mi elementum mattis vel vitae sem. Ut eros ipsum, scelerisque a erat a, eleifend luctus nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </p>
                            <p>
                                Vivamus ac ullamcorper magna. Aenean felis ante, elementum sit amet urna at, eleifend aliquet velit. Morbi a convallis magna. In nec leo vel dolor hendrerit pharetra. Cras in iaculis enim. Aenean porta sapien dignissim turpis dapibus, eu dictum velit elementum. Aliquam sollicitudin gravida luctus.
                            </p>
                            <p>
                                Ut vel nulla sit amet erat laoreet eleifend nec sed lacus. Quisque placerat diam vitae justo eleifend, rutrum mollis mauris fringilla. Curabitur turpis odio, euismod id lorem a, ultricies suscipit ligula. Pellentesque ut erat a leo rhoncus porta ac sed velit. Nunc at erat ligula. Fusce vehicula posuere interdum. Curabitur tempus, tortor at sollicitudin dapibus, erat ante varius nisl, id dictum erat ipsum porttitor ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla id varius enim, sed rutrum orci.
                            </p>
                            <p>
                                Sed tincidunt urna quis metus lacinia commodo. Praesent convallis eros vel quam scelerisque bibendum. Mauris eget dignissim libero. Pellentesque sagittis sem quis ipsum viverra, sed consequat mi consectetur. Donec facilisis dapibus ultrices. Donec luctus auctor lacus, at congue nisi aliquet eu. Praesent in justo at risus faucibus ultricies. Fusce et libero lectus. Donec elementum pharetra sapien, at placerat purus sodales et. Vivamus iaculis lacus sed placerat rhoncus. Mauris iaculis sit amet nunc at placerat. Donec consequat euismod lacinia. Etiam nec quam vehicula, cursus massa in, ullamcorper erat.
                            </p>
                            <p>
                                Praesent volutpat scelerisque vestibulum. In eu massa non neque rutrum commodo. Nunc vel enim nisi. Aenean leo ipsum, molestie vel justo nec, pharetra luctus dui. Nunc rhoncus turpis id lorem luctus consequat. Nulla condimentum adipiscing turpis consequat semper. Etiam ullamcorper velit nec hendrerit malesuada. Praesent venenatis leo sit amet arcu commodo, sit amet porta tellus suscipit. Quisque mi tortor, vestibulum in arcu non, pretium auctor libero. In commodo luctus placerat.
                            </p>
                        </div>
                    </p:scrollPanel>
                </div>
            </div>
            
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>Toolbar</h1>
                    <h:form>
                        <p:toolbar>
                            <f:facet name="left">
                                <p:commandButton type="button" value="New" icon="fa fa-plus" />

                                <p:commandButton type="button" value="Open" icon="fa fa-folder-open" styleClass="pink-btn"/>

                                <span class="ui-separator" style="padding-right: 5px;">
                                    <span class="fa fa-ellipsis-v SoftGray" />
                                </span>

                                <p:commandButton type="button" title="Save" icon="fa fa-save" styleClass="green-btn"/>
                                <p:commandButton type="button" title="Delete" icon="fa fa-trash" styleClass="purple-btn"/>
                                <p:commandButton type="button" title="Print" icon="fa fa-print" styleClass="orange-btn"/>
                            </f:facet>

                            <f:facet name="right">
                                <p:menuButton value="Options">
                                    <p:menuitem value="Save" icon="fa fa-save" />
                                    <p:menuitem value="Update" icon="fa fa-upload" />
                                    <p:menuitem value="Delete" icon="fa fa-trash" />
                                    <p:menuitem value="Homepage" icon="fa fa-home" />
                                </p:menuButton>
                            </f:facet>
                        </p:toolbar>
                    </h:form>
                </div>
            </div>
            
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>FieldSet</h1>
                    <p:fieldset legend="Toggleable Fieldset" toggleable="true" toggleSpeed="500">
                        <h:outputText value="Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The Godfather's depiction of the dark side of the American dream.
                                      In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy,
                                      killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows."></h:outputText>
                    </p:fieldset>
                </div>
            </div>
        </div>
            
    </ui:define>

</ui:composition>